
@media screen and (max-width: 400px) {
    footer {
        width: 10px;
        height: auto;
    };
}

h1 
 { 
    color: red;
    background-color: powderblue;
    font: 100px;
    justify-content: center;

}
