
@import "../defaults/breakpoint";
@import "../defaults/color";



form 
    .form-elements {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        width: 50%;
    
        label {
            font-size: 1.2rem;
            }

        .form-input {
            border: 1px solid $primary-color;
            border-radius: 4px;
            font-size: 1.2rem;
    }
}


@media screen and (max-width: 400px) {
    footer {
        width: 10px;
        height: auto;
    };
}

