
@import "../defaults/breakpoint";
@import "../defaults/color";

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .blogpost {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .blogpost a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
/* Change color of dropdown links on hover */
.blogpost a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.blogpost:hover .blogpost {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.blogpost:hover .dropbtn {background-color: #3e8e41;}

.nav-bar {
    display: none;
}

@media screen and (min-width: 450px) {
    .hide-from-mobile {
        display: flex;
        left: 0;
        bottom: 0;
        width: auto;
        justify-content: center;
        flex-grow: 1;
    }
}

body {
    background-color: $primary-background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



form
    .form-elements {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        width: auto;
        border: 1px solid $primary-color;
        
    
        label {
            font-size: 1.2rem;
            }

        .form-input {
            border: 1px solid $primary-color;
            border-radius: 1px;
            font-size: 1.2rem;
           }
        .form-message {
            height: 200px;
        }
}


@media screen and (max-width: 400px) {
    footer {
        width: 10px;
        height: auto;
    };
}

ul {
    display: inline;
    justify-content: center;
}



p { 
    font-family: Arial; 
}

footer {
    margin-top: auto;
  
}

.social-media {
   
    margin: auto;
    text-align:center;
    padding: 8px;
}


a { 
    text-decoration: none;
   
}


